button.rounded {
  border-radius: 9999px; /* Force a circle */
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
}

.chat-list-item {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  /*margin-left: 3px;
  margin-right: 3px;*/
  /* border-radius: 8px; */ /* Force a circle */
  border-radius: 0px;
}

.chat-list-item-picture {
  border-radius: 9px; /* Force a circle */
}

.message-label {
  background: transparent;
  background-color: transparent;
}

.bubble {
  background-color: var(--sidebar-bg-color, @theme_bg_color);
  max-width: 400px;
  min-width: 200px;
  padding: 8px;
  border-radius: 8px; /* Force a circle */
}
.bubble.ingoing {
  margin-left: 4px;
}
.bubble.outgoing {
  margin-right: 4px;
}
