button.rounded {
  border-radius: 9999px; /* Force a circle */
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
}

.chat-list-item {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.chat-list-item-picture {
  border-radius: 8px; /* Force a circle */
}
